.advantages {
    padding: 140px 0;
    &__list {
        border-top: 1px solid rgba(#282b22, 0.2);
    }

    @media (max-width: 740px) {
        padding: 100px 0;

        &__title {
            font-size: 36px;
            margin-bottom: 65px;
        }
    }
    @media (max-width: 500px) {
        padding: 80px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 50px;
        }
    }
}

.advantage {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
    border-bottom: 1px solid rgba(#282b22, 0.2);
    cursor: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 124px;
        width: 1px;
        background-color: rgba(#282b22, 0.2);
    }

    &__count {
        width: 50%;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: var(--color-metal);
        opacity: 0.3;
    }

    &__content {
        width: 50%;
        padding-left: 40px;
    }

    &__caption {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: var(--color-metal);
        margin-bottom: 10px;
    }

    &__descr {
        max-width: 517px;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: var(--color-metal);
        opacity: 0.8;
    }

    @media (max-width: 740px) {
        &__caption {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 550px) {
        padding: 30px 0;

        &::before {
            display: none;
        }

        .cursor {
            display: none;
            cursor: auto;
        }

        &__content {
            padding-left: 30px;
            width: 95%;
        }

        &__count {
            width: 5%;
        }

        &__caption {
            font-size: 20px;
        }
    }
}

.advantage:hover .advantage__caption {
    color: var(--color-copper);
    transition: all 0.3s ease-in-out;
}

.cursor {
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
    --width: 340px;
	--height: 240px;
	position: fixed;
	width: var(--width);
	height: var(--height);
	top: calc(var(--height) * -.5);
	left: calc(var(--width) * -.5);
	overflow: hidden;
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition: transform var(--transition-cursor), height 1s ease;
	z-index: -1;
	will-change: transform;
    height: 0;
}

.advantage:hover .cursor {
	height: var(--height);
}

.cursor__image {
	position: relative;
    width: calc(var(--width) * 2);
	height: calc(var(--height) * 2);
}

