.custom-file {
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    // margin-bottom: 39px;

    &__input {
        width: 175px;
        position: absolute;
        opacity: 0;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding: 5px 0 5px 28px;
        font-size: 14px;
        line-height: 100%;
        color: rgba(#fff, 0.5);
        opacity: 0.5;
        background-image: url("../images/file.svg");
        background-position: left center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
    }
}