.form-field {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    &__decrs {
        font-size: 16px;
        line-height: 145%;
        color: var(--color-white);
        opacity: 0.8;
        margin-bottom: 26px;
    }

    &__input {
        padding: 10px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        color: var(--color-white);
        background-color: transparent;
        opacity: 0.5;
        border: none;
        border-bottom: 2px solid rgba(#fff, 0.2);
        margin-bottom: 13px;
        width: 100%;
        // &--question {
        //     margin-bottom: 40px;
        // }
        &--big {
            height: 95px;
            padding: 10px 0;
            // margin-bottom: 40px;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 25px;
        margin-top: 40px;
    }
}
